
/** for back **/
.content-wrapper, .right-sides011 {
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: url("../images/intro__logo.svg");
    background-size: cover;
    background-color: #2c6ed5;
    padding: 15px;
}